/* src/components/Sidebar.module.scss */
.sidebar {
	width: 250px;
	height: 100%;
	background-color: gray;
	color: white;
	padding: 20px;
}

.userInfoCard {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: black;
}

.userInfoCard h2 {
	margin-bottom: 10px; /* Add margin below the h2 element */
}

.userInfoCard p {
	margin-bottom: 10px;
	display: flex;
	align-items: center; /* Vertically center the content */
	overflow: hidden;
	max-width: 100%;
}

.userInfoCard p span {
	overflow: auto;
	flex-grow: 1; /* Allow the text to expand within its container */

	/* Hide scrollbar for WebKit-based browsers */
	&::-webkit-scrollbar {
		width: 0.5em; /* Adjust scrollbar width as needed */
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent; /* Hide thumb */
	}
}
